@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@tailwind base;
@tailwind components;
html,
body {
  position: relative;
  min-height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
main {
  position: relative;
  width: 100%;
}
footer {
  width: 100%;

  bottom: 0;
  z-index: 0;
}
.card-zoom-image {
  @apply transition-all duration-500 ease-in-out transform bg-center bg-cover;
}
.card-zoom:hover .card-zoom-image {
  @apply scale-110;
}
.card-zoom:hover .card-zoom-text {
  @apply scale-105;
}

.padre:nth-child(odd) .hijo {
  flex-direction: row-reverse;
  
}
.menu-box{
  display: none;
}

.menuopen{
  display: block;
  
  
}
.menu-box-mobile{
  display: none;
  }
.menuopen-mobile{
    display: block;
    
    
  }
@media (min-width: 768px) {
  .padre:nth-child(odd) .hijo .parrafo {
    float: right;
  }
  .padre:nth-child(odd) .hijo .titulo {
    float: right;
  }
}

@tailwind utilities;
