{% extends "layouts/default.njk" %}

{% block content %}
{% include "partials/topReserva.njk" %}
<div class=" w-screen h-full bg-yellow-50">
    <div class="container m-auto py-10 px-0">
        <div class="flex flex-col w-11/12 justify-between m-auto py-5">

            <div class="flex flex-row justify-between ">

                <p class="bg-blue-400 rounded-full w-6 lg:w-7 text-center">1</p>



                <p class="bg-blue-400 rounded-full w-6 lg:w-7 text-center">2</p>

                <p class="bg-yellow-300 rounded-full w-6 lg:w-7 text-center">3</p>
            </div><br>
            <div class="flex flex-row justify-between">
                <p class="uppercase  text-xs md:text-base lg:text-lg">reserva</p>
                <p class="uppercase  text-xs md:text-base lg:text-lg">datos reserva</p>
                <p class="uppercase  text-xs md:text-base lg:text-lg">confirmación</p>
            </div>
        </div>
        <div class="w-full h-full bg-white container m-auto">
            <div class="w-full h-1/2 flex flex-col items-center justify-center p-10">
                <svg class="w-32 h-32 text-green-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg> <br>
                <p> Los datos han sido enviados correctamente.</p>
                <div class="bg-gray-200 h-full w-[100%] m-10">

                    <h2 class="uppercase text-center text-white py-5 text-lg md:text-xl lg:text-2xl">resumen</h2>
                    <h2
                        class="uppercase ml-8 md:ml-16 lg:ml-24 xl:ml-32 text-white py-5 text-base md:text-lg lg:text-xl">
                        datos personales</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between m-auto w-4/5 py-6 ">

                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">nombre <p
                                id="nombreConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">apellidos <p
                                id="apellidosConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">email <p
                                id="emailConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">teléfono <p
                                id="telefonoConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Número Tarjeta <p
                                id="num_tarjetaConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Nombre Titular <p
                                id="nombreTitularConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Caducidad Tarjeta<p
                                id="caducidadConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>

                    </div>
                    <h2
                        class="uppercase ml-8 md:ml-16 lg:ml-24 xl:ml-32 text-white py-5 text-base md:text-lg lg:text-xl">
                        datos reserva</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between m-auto w-4/5 py-6 ">
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">fecha entrada <p
                                id="fechaEntradaConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">fecha salida <p
                                id="fechaSalidaConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">precio final <p
                                id="precioFinalConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">habitacion <p
                                id="textoHabConfirmacion" class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>
                        <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 " ><img  src=""  id="imgConfirmacion" alt=""> <p
                             class="py-2  text-xs  lg:text-base text-black"></p>
                        </h3>


                    </div>



                </div>
       
            </div>
            
            <div class="flex items-center justify-center ">
                <a href="/">
                    <button class="text-white p-5 bg-blue-400 uppercase m-6 rounded-xl">salir</button>
                </a>
            </div>

        </div>


    </div>
</div>




{% include "partials/footer.njk" %}
{% endblock %}