{% extends "layouts/default.njk" %}

{% block content %}
{% include "partials/topReserva.njk" %}

<div class=" w-screen h-full bg-yellow-50">
    <div class="container m-auto py-10 px-0">
        <div class="flex flex-col w-11/12 justify-between m-auto py-5">

            <div class="flex flex-row justify-between ">

                <p class="bg-blue-400 rounded-full w-6 lg:w-7 text-center">1</p>



                <p class="bg-yellow-300 rounded-full w-6 lg:w-7 text-center">2</p>

                <p class="bg-blue-400 rounded-full w-6 lg:w-7 text-center">3</p>
            </div><br>
            <div class="flex flex-row justify-between">
                <p class="uppercase  text-xs md:text-base lg:text-lg">reserva</p>
                <p class="uppercase  text-xs md:text-base lg:text-lg ">datos reserva</p>
                <p class="uppercase  text-xs md:text-base lg:text-lg">confirmación</p>
            </div>
        </div>
        <h2 class="text-center uppercase font-letraHeader text-5xl p-5">Datos Reserva</h2>

        <div class="hidden md:flex flex-row  px-16 py-10 bg-gray-200 relative">
            <div class="text-gray-500 text-lg underline uppercase w-1/2 ">Datos personales <svg
                    class="w-6 h-6 absolute inset-y-10 left-2" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                        clip-rule="evenodd"></path>
                </svg></div>
            <div class="text-gray-500 text-lg underline uppercase text-right  w-1/2">Datos Bancarios <svg
                    class="w-6 h-6 absolute inset-y-10 right-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
                    </path>
                </svg></div>
        </div>
        <div class="flex flex-col md:flex-row bg-gray-200 relative">
            <div class="text-gray-500 text-lg underline uppercase text-center p-4 md:hidden">Datos personales <svg
                    class="w-6 h-6 absolute inset-y-5 left-8 md:left-28" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                        clip-rule="evenodd"></path>
                </svg></div>

            <div
                class="grid grid-cols-1 space-y-5 lg:space-y-0  lg:grid-cols-2 lg:gap-4 xl:gap-6 place-items-center place-content-center h-[300px] md:w-1/2 w-full  mr-8">

                <div>
                    <input class="py-3 px-4 lg:px-6 xl:px-10 border-2" type="text" maxlength="40" name="nombreCliente"
                        placeholder="Nombre" id="nombrePersona">
                </div>
                <div>
                    <input class="py-3  px-4 lg:px-6 xl:px-10 border-2" type="text" maxlength="40"
                        name="apellidosCliente" placeholder="Apellidos" id="apellidosPersona">
                </div>
                <div>
                    <input class="py-3  px-4 lg:px-6 xl:px-10 border-2" type="email" maxlength="120" name="emailCliente"
                        autocomplete="email" placeholder="Email" id="emailPersona">
                </div>
                <div>
                    <input class="py-3  px-4 lg:px-6 xl:px-10 border-2" type="text" maxlength="16"
                        name="telefonoCliente" autocomplete="tel" placeholder="Teléfono" id="telefonoPersona">
                </div>
            </div>
            <div class="text-gray-500 text-lg underline uppercase text-center p-4 md:hidden">Datos Bancarios <svg
                    class="w-6 h-6 absolute inset-y-96 -mt-2 right-8 md:right-28" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
                    </path>
                </svg></div>
            <div class=" grid grid-cols-1 gap-6 place-items-center place-content-center h-[300px] md:w-1/2 bg-gray-200">

                <input class="py-3 px-4 md:px-20 lg:px-36 xl:px-52 border-2" type="text" name="numeroTarjeta"
                    placeholder="Número de Tarjeta" id="numeroTarjeta">

                <div class="flex flex-col xl:flex-row space-y-4 xl:space-x-8 xl:space-y-0">
                    <input class="py-3 px-4 md:px-20 lg:px-36 xl:px-20 border-2" type="text" name="nombreTitular"
                        placeholder="Nombre titular" id="titularTarjeta">
                    <input class="py-3 px-4 md:px-7 border-2" type="text" name="caducidad"
                        placeholder="Caducidad dd/mm/yyyy" maxlength="10" id="caducidadTarjeta">
                </div>

            </div>

        </div>
        <br>
        <div class="bg-gray-200 h-full">
            <h3 class="uppercase text-center p-5 text-base md:text-lg lg:text-xl text-gray-500 underline">resumen</h3>
            <div class="flex flex-col md:flex-row  md:items-center justify-between m-auto w-4/5 py-6">

                <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Fecha Entrada <p
                        id="fechaEntrada" class="py-2  text-xs  lg:text-base text-black" ></p>
                </h3>
                <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Fecha Salida <p
                        id="fechaSalida" class="py-2  text-xs lg:text-base text-black" ></p>
                </h3>
                <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Precio Final <p
                        id="precioFinal" class="py-2 text-xs lg:text-base text-black" ></p>
                </h3>
                <h3 class="uppercase text-gray-500 text-xs md:text-base lg:text-lg p-5 ">Habitación <p id="textoHab"
                        class="py-2 text-xs  lg:text-base text-black" ></p>
                </h3>


            </div>
        </div>


        <div class="flex items-center justify-center ">

            <a href="/reserva">
                <input type="button" value="atrás" class="px-7 py-5 bg-blue-400 m-6 rounded-xl uppercase text-white ">
            </a>
            <input type="button" value="finalizar"
                class="p-5 bg-blue-400 m-6 rounded-xl uppercase text-white  botonFinalizar" onclick="datosPSiguiente()" oncli
                id="botonFinalizar" >

        </div>
    </div>


</div>
{% include "partials/footer.njk" %}
{% endblock %}