---
pagination:
 data: habitacion
 size: 1
 alias: item
permalink: "{{ item.tituloHabitacion | slug }}/"
---
{% extends "layouts/default.njk" %}

{% block content %}


<div class=" w-screen" style="background: url(/images/fondo.jpeg) no-repeat center center;background-size:cover ;">
    {% include "partials/top.njk" %}
    <h1 class="uppercase text-center pt-10 sm:text-lg md:text-3xl lg:text-5xl bold font-letraHeader">
        {{item.tituloHabitacion}}</h1> <br>
    <div
        class="container m-auto grid grid-cols-1 content-center justify-center items-center bg-white bg-opacity-50 rounded-xl pb-10">


        <div class="md:flex pt-8 sm:pb-3 lg:pt-20 lg:pb-6 md:pt-16 md:pb-4 text-center">

            <div class="flex flex-col h-[200px] md:w-[350px] md:h-[350px] lg:w-[500px] lg:h-[500px]">



                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        {% for galeria in item.galeriaHabitacion %}
                        <div class="swiper-slide"
                            style="background:url({{galeria.url}}) no-repeat center center;background-size:cover"></div>
                        {% endfor %}

                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        {% for galeria in item.galeriaHabitacion %}

                        <div class="swiper-slide"
                            style="background:url({{galeria.url}}) no-repeat center center;background-size:cover ">
                        </div>

                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="flex flex-col items-center justify-center text-center w-full">
                <h1 class="titulo py-5 px-5 text-lg md:text-xl lg:text-3xl uppercase w-full  font-letraHeader">
                    servicios </h1>
                <h1 class=" lg:w-1/2 text-center p-2">{{item.descripcionLarga}}</h1>
                <div class="mx-auto w-[300px]">
                    {% for iconos in item.iconos %}
                    <div class="flex w-full items-center p-2">
                        <div class="p-1">
                            <img src="{{iconos.icono.url}}" alt=""
                                class="w-[15px] h-[15px] md:w-[20px] md:h-[20px] lg:w-[25px] lg:h-[20px] xl:w-[30px] xl:h-[30px] card-zoom-image">
                        </div>
                        <div class="p-1">
                            <p class="">{{iconos.nombreIcono}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <a href="/reserva"
                    class=" uppercase md:text-sm font-letraHeader bg-blue-300 p-5 rounded-xl text-white">reservar
                    ahora</a>

            </div>
        </div>
    </div>



    <br>

    <div class="grid container bg-white bg-opacity-50 rounded-xl m-auto lg:pt-20 lg:pb-6 md:pt-12 md:pb-4 h-full">
        <h2 class="uppercase text-center font-letraHeader text-lg md:text-3xl text-blue-400">quizás le interese...</h2>
        <br>
        <div class=" grid grid-cols-1  md:grid-cols-3 gap-4 lg:gap-8 m-auto ">

            {% for hab in habitacion %}
            {% if item.tituloHabitacion != hab.tituloHabitacion %}

            <div class="flex flex-col " data-aos="fade-down">
                <div class=" card-zoom">
                    <a href="/{{hab.tituloHabitacion | slug }}">
                        <img src="{{hab.imagenHabitacion.url}}" alt=""
                            class=" w-[200px] h-[200px] md:w-[250px] md:w-[250px] lg:w-[275px] xl:w-[350px] h-full object-cover card-zoom-image">
                    </a>
                </div>

                <div class="flex flex-col justify-center items-center py-2  w-full h-auto " data-aos="fade-down">

                    <h1 class="py-5 px-5 text-base md:text-lg lg:text-xl xl:text-3xl uppercase text-center  font-letraHeader">
                        {{hab.tituloHabitacion}}</h1>



                </div>
            </div>

            {% endif %}
            {% endfor %}

        </div>

    </div><br>
</div>



{% include "partials/footer.njk" %}
{% endblock %}