{% extends "layouts/default.njk" %}

{% block content %}

{% include "partials/top.njk" %}
<div class=" w-screen" style="background: url(/images/fondo.jpeg) no-repeat center center;background-size:cover ;">
    <h1 class="uppercase text-center pt-10 sm:text-lg md:text-3xl lg:text-5xl bold font-letraHeader italic">habitaciones
        del
        hotel</h1> <br>
    <div
        class="container bg-white bg-opacity-70 rounded-xl">

        <div class="grid grid-cols-2 gap-8">
            
                    {% for hab in habitacion %}
            
            
                        <div class="flex h-[200px] space-x-4">
                            <div class="w-[250px] flex-shrink-0" >
                                <a href="/{{hab.tituloHabitacion | slug }}">
                                    <img src="{{hab.imagenHabitacion.url}}" alt="" class="h-full object-cover">
                                </a>
                            </div>




                            <div class="flex flex-col justify-between py-2 bg-red-300 w-full">
                                <div>
                                    <h1 class="py-5 px-5 sm:text-lg md:text-xl lg:text-3xl uppercase">{{hab.tituloHabitacion}}</h1>
                                    <p>{{hab.descripcionHabitacion}}</p>
                                </div>
                                <div class="">
                                    <a href="/{{hab.tituloHabitacion | slug }}" class="py-5 px-5 bg-blue-600 rounded-xl uppercase m-auto"> leer más</a>
                                </div>
                            </div>



                        </div>
            
            
                    {% endfor %}

        </div>











    </div> <br>


</div>


{% include "partials/footer.njk" %}
{% endblock %}