{% extends "layouts/default.njk" %}

{% block content %}


<div class=" w-screen">
    <div class=" w-screen h-[1000px] relative"
        style="background: url(/images/chipiona.jpg) no-repeat center center;background-size:cover ;">
        <div class="velo">

        </div>
        <div class="z-10 relative principal">
            {% include "partials/top.njk" %}
            <h2 class="text-white uppercase text-2xl lg:text-5xl text-center font-letraHeader mt-28 "
                data-aos="fade-up">el
                paraíso, cerca de ti</h2>
            <p class="text-indigo-100 text-2xl lg:text-5xl text-center font-letraHeader mt-28">Bienvenidos a vuestro
                hogar
            </p>
        </div>
        <div
            class="hidden lg:flex justify-center items-center bg-blue-400 space-x-5 mt-10 absolute inset-x-0 bottom-0 p-2">
            <h3 class="uppercase text-white">Entrada</h3><input id="date" type="date" value="now" class="lg:p-3 xl:p-5">
            <h3 class="uppercase text-white">Salida</h3><input id="date" type="date" value="now" class="lg:p-3 xl:p-5">
            <select name="cantidadHabitaciones" id="disponibilidadHabitaciones" class="lg:p-3 xl:p-5">
                <option value="unaHabitacion">1 habitación</option>
                <option value="dosHabitaciones">2 habitaciones</option>
                <option value="tresHabitaciones">3 habitaciones</option>
            </select>
            <select name="tipoHabitacion" id="tipodeHabitaciones" class="lg:p-3 xl:p-5">
                <option value="unaHabitacion">Doble</option>
                <option value="dosHabitaciones">Triple</option>
                <option value="tresHabitaciones">Doble Uso Individual</option>
            </select>
            <a href="./reserva">
                <input type="button" value="consultar disponibilidad"
                    class="lg:p-3 xl:p-5 bg-yellow-300 rounded-xl uppercase">
            </a>
        </div>
        <div class="flex justify-center items-center inset-x-0 bottom-0  lg:hidden relative">
            <a href="/reserva"
                class=" uppercase md:text-sm font-letraHeader bg-blue-400 p-5 rounded-xl mt-10 text-white">reservar
                ahora</a>
        </div>

    </div>
    <div class="swiper-container h-[70vh]" style=" width: 100%;">
        <div class="swiper-wrapper">
            {% for slider in slider %}
            {% if slider.categoria=="principal" %}
            <div class="swiper-slide rounded-lg"
                style="background: url({{slider.imagen.url}}) no-repeat center center;background-size:cover">

                <div>
                    <h2 class="text-white uppercase sm:text-3xl md:text-5xl lg:text-6xl mb-10 font-letraHeader">
                        {{slider.titulo}}
                    </h2>
                    <p class="text-white  mb-10 "> {{slider.descripcion}}</p>
                    <a href="./servicios">
                        <button class="uppercase px-10 py-5 bg-blue-300 text-white text-letraPrincipal">leer más
                        </button>
                    </a>
                </div>

            </div>
            {% endif %}
            {% endfor %}


        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class=" md:pb-2" style="background: url(/images/fondo.jpeg) no-repeat center center; background-size: cover;">
        <div class="lg:container m-auto sm:w-[80%] lg:w-[80%] py-10">
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 sm: gap-10 md:gap-14 lg:gap-20 ">
                <div class="m-auto md:h-full">
                    <div class="bg-white bg-opacity-50 md:h-full mx-auto rounded-lg">
                        <h2 class="text-center text-2xl text-yellow-900 pt-5 uppercase">historia</h2>
                        <h3
                            class="text-center sm:my-5 md:my-10 lg:my-16 w-9/12 mx-auto sm:text-xs md:text-sm lg:text-base">
                            Hotel del sur nació como un proyecto de 2 amigos sevillanos, los cuales les gustaba el
                            ámbito de
                            la
                            hostelería y el ocio,apostaron por las tierras gaditanas situadas en la zona sur de la
                            localidad
                            de Chipiona.
                            <br>
                            Su construcción empezó en el año 2008 y su inaguración tuvo lugar el 1 de junio
                            del 2010.<br>
                            El hotel comenzó con tan sólo 100 habitaciones, a lo que acompañado con una demanda
                            excepcional
                            año tras
                            año, se decidió ampliar hasta las 200 habitaciones. En la actualidad, es referencia de la
                            Costa
                            de la
                            luz, con más de 2500 opiniones en tripadvisor, se sitúa en el nº1 de Chipiona y de la
                            provincia
                            de
                            Cádiz, por la calidad brindada en sus servicios.
                        </h3>
                    </div>
                </div>

                <div class="m-auto md:h-full  card-zoom">
                    <img src="/images/hotel.jpeg" alt="" class="w-full h-full object-cover rounded-lg card-zoom-image">
                </div>
            </div>
        </div>

        <section class="bg-white bg-opacity-50 container mx-auto md:w-4/5 pt-10 rounded-lg">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md:gap-6 lg:gap-20 lg:mx-28 lg:my-4 ">
                <div class="overflow-visible ">
                    <div class="card-zoom flex items-center justify-center">
                        <a href="./restaurantes">
                            <img class=" h-[150px] card-zoom-image  object-cover" src="/images/cocina.jpeg"
                                alt="cocinaHotel">
                        </a>
                    </div>
                    <br />
                    <h4 class=" text-center sm:text-sm md:text-xl lg:text-2xl uppercase">gastronomía</h4>
                    <br />
                    <p class="text-textcolorP text-center ">
                        Nuestro hotel cuenta con el más prestigioso personal de toda la costa de la luz. Especialidado
                        en
                        distintos pescados de la zona, disfrutarás de sabrosos platos llenos de sabor y modernidad.</p>
                    <a href="./restaurantes"
                        class="hover:text-text-blue-500 flex items-center justify-center  mt-3 text-blue-500 underline">Más
                        sobre el restaurante. →</a>
                </div>
                <div class="overflow-visible">
                    <div class="card-zoom flex items-center justify-center">
                        <a href="./entorno">
                            <img class="h-[150px]  card-zoom-image  object-cover" src="/images/espacios.jpeg"
                                alt="entorno">
                        </a>
                    </div>
                    <br />
                    <h4 class="sm:text-sm md:text-xl lg:text-2xl text-center uppercase">entorno
                    </h4>
                    <br />
                    <p class="text-textcolorP text-center">Nuestro hotel está ubicado a 100 metros de la playa de regla,
                        siendo ésta una de las más demandadas por los visitantes año tras año.Nos encontramos además a
                        escasos 5 minutos andando del centro,y a unos 10 minutos en coche de la localidad vecina
                        Sanlúcar de
                        Barrameda</p>

                    <a href="./entorno"
                        class="hover:text-text-blue-500 flex items-center justify-center mt-3 text-blue-500 underline">Más
                        sobre el entorno del hotel →</a>
                </div>
                <div class="overflow-visible ">
                    <div class="card-zoom flex items-center justify-center">

                        <img class=" h-[150px] card-zoom-image  object-cover" src="/images/visita.jpeg"
                            alt="quevisitar">
                    </div>
                    <br />
                    <h4 class="sm:text-sm md:text-xl lg:text-2xl text-center uppercase">¿Qué hacer?
                    </h4>
                    <br />
                    <p class="text-textcolorP text-center text-sm">En nuestra localidad si algo es característico de
                        ella es
                        el amplio abanico de posibilidades de disfrutar en cada rincón, por eso, recomendamos a nuestros
                        clientes que se visiten el santuario de regla,las distintas iglesias, el castillo-museo...</p>
                    <a href=""
                        class="hover:text-blue-500 flex items-center justify-center mt-3 text-blue-500 underline">Más
                        sobre
                        visitas turísticas →</a>
                </div>


            </div>
        </section>

    </div>


</div>


{% include "partials/newsletter.njk" %}
{% include "partials/footer.njk" %}
{% endblock %}