{% extends "layouts/default.njk" %}

{% block content %}

{% include "partials/top.njk" %}
<div class=" w-screen" style="background: url(/images/fondo.jpeg) no-repeat center center;background-size:cover ;">
    <div class="swiper-container h-screen	" style=" width: 80%;">
        <div class="swiper-wrapper mt-20">
            <div class="swiper-slide"
                style="background: url(/images/spa.jpeg) no-repeat center center;background-size:cover">
                <div>
                    <h1 class="text-white uppercase sm:text-3xl md:text-5xl lg:text-6xl mb-10 "> spa thalasso
                    </h1>
                    <p class="text-white  mb-10 "> Relájese en nuestro spa, en el que contamos con múltiples
                        tratamientos con los que difrutar.</p>
                    <button class="uppercase px-10 py-5 bg-brownbutton text-white text-letraPrincipal">leer más
                    </button>
                </div>
            </div>
            <div class="swiper-slide"
                style="background: url(/images/golf.jpeg)no-repeat center center;background-size:cover">
                <div>
                    <h1 class="text-white uppercase sm:text-3xl md:text-5xl lg:text-6xl mb-10 "> campos de golf</h1>
                    <p class="text-white  mb-10 "> Contamos con el mayor campo de golf de españa,situado a pie de playa
                    </p>
                    <button class="uppercase px-10 py-5 bg-brownbutton text-white text-sans">leer más</button>
                </div>
            </div>
            <div class="swiper-slide"
                style="background: url(/images/masajes.jpeg)no-repeat center center;background-size:cover">
                <div>
                    <h1 class="text-white uppercase sm:text-3xl md:text-5xl lg:text-6xl mb-10 "> sesión de masaje</h1>
                    <p class="text-white  mb-10 "> disfrute de nuestras terapias en plena playa, contamos con los
                        mejores profesionales del mercado</p>
                    <button class="uppercase px-10 py-5 bg-brownbutton text-white text-sans">leer más</button>
                </div>

            </div>
            <div class="swiper-slide"
                style="background: url(/images/cena.jpeg) no-repeat center center;background-size:cover">
                <div>
                    <h1 class="text-white uppercase sm:text-3xl md:text-5xl lg:text-6xl mb-10 "> gastronomía </h1>
                    <p class="text-white mb-10"> ¿Porqué no disfrutar de una cena agradable?</p>
                    <button class="uppercase py-5 px-10 bg-backgroundButtonSwipper text-white text-sans">leer
                        más</button>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div><br>
    <div class="lg:flex lg:items-center lg:justify-center " style="width: 80%;margin: auto">
        <div class="flex items-center lg:w-1/2 sm:mb-10 lg:mb-5 xl:mb-0" >
            <div class="flex items-center flex-col bg-white bg-opacity-50  lg:w-2/4 ">
            <h1 class="text-center text-2xl text-yellow-900">Historia</h1>
            <h2 class="sm:my-5 md:my-10 lg:my-20 w-9/12 sm:text-xs md:text-sm lg:text-base">Hotel del sur nació como un proyecto de 2 amigos sevillanos, los cuales les gustaba el ámbito de la
                hostelería y el ocio, su construcción empezó en el año 2008 y su inaguración tuvo lugar el 1 de junio
                del 2010.
                El hotel comenzó con tan sólo 100 habitaciones, a lo que acompañado con una demanda excepcional año tras
                año, se decidió ampliar hasta las 200 habitaciones. En la actualidad, es referencia de la Costa de la
                luz, con más de 2500 opiniones en tripadvisor, se sitúa en el nº1 de Chipiona y de la provincia de
                Cádiz, por la calidad brindada en sus servicios. </h2>
            </div>
        </div>
        <div class="lg:w-1/2">
            <img src="/images/hotel.jpeg" alt="" class="w-full h-full">
        </div>
    </div>
    <br>
    
</div>
{% include "partials/footer.njk" %}
{% endblock %}