{% extends "layouts/default.njk" %}

{% block content %}
{% include "partials/topReserva.njk" %}
<div class=" w-screen h-full bg-yellow-50">
    <div class="container m-auto p-0 md:p-6 ">
        <div class="flex flex-col w-11/12 justify-between m-auto py-5">

            <div class="flex flex-row justify-between ">

                <p class="bg-yellow-300 rounded-full w-6 lg:w-7 text-center">1</p>



                <p class="bg-blue-400 rounded-full w-6 lg:w-7 text-center">2</p>

                <p class="bg-blue-400 rounded-full w-6 lg:w-7 text-center">3</p>
            </div><br>
            <div class="flex flex-row justify-between">
                <p class="uppercase  text-xs md:text-base lg:text-lg">reserva</p>
                <p class="uppercase  text-xs md:text-base lg:text-lg">datos reserva</p>
                <p class="uppercase  text-xs md:text-base lg:text-lg">confirmación</p>
            </div>
        </div>
        <div class="flex justify-center items-center bg-blue-400 space-x-5 mt-10 p-2">
            <div
                class="grid grid-cols-1 space-y-4 xl:space-y-0 xl:flex justify-center items-center bg-blue-400 xl:space-x-2 m-auto">
                <h3 class="uppercase text-white">Entrada</h3><input id="entrada" type="date" value="now" class="lg:p-3 "
                    value="2021-05-05">
                <h3 class="uppercase text-white">Salida</h3><input id="salida" type="date" value="now" class="lg:p-3 "
                    value="2021-05-06">

                <h3 class="uppercase text-white">Nº Personas</h3> <input type="number" id="cantidad" name="quantity"
                    min="1" max="10" placeholder="1">

                <a href="#">
                    <input type="button" value="consultar disponibilidad"
                        class="sm:py-5 sm:px-4 md:p-4 bg-yellow-300 rounded-xl uppercase" id="botonDisponibilidad" onclick="disponibilidad()">
                </a>
                <p id="demo">a</p>
            </div>
            <script>
              
                
                
            </script>
        </div>
        <h3 class="text-center sm:text-xl md:text-2xl uppercase py-10 underline font-bold text-blue-400 ">Por
            favor,seleccione el tipo de habitación</h3>
        {% for hab in habitacion %}
        <div class="flex flex-col items-center justify-center md:flex-row py-4">
            <div class=" card-zoom md:w-1/2">
                <h2
                    class="py-5 px-5 text-base md:text-lg lg:text-xl xl:text-3xl uppercase text-center  font-letraHeader">
                    {{hab.tituloHabitacion}}</h2>
                <a href="/{{hab.tituloHabitacion | slug }}">
                    <img src="{{hab.imagenHabitacion.url}}" alt="/{{hab.tituloHabitacion}}"
                        class=" w-[200px] h-[150px] md:w-[250px] md:w-[200px] lg:w-[275px] xl:w-[700px] xl:h-[400px] h-full object-cover ">
                </a>
            </div>

            <div class="flex flex-col justify-center items-center py-2  md:w-1/2 h-auto ">
                <h2
                    class="py-5 px-5 text-lg md:text-xl lg:text-2xl xl:text-3xl uppercase text-center  font-letraHeader">
                    precio habitación</h2>

                    
                    <p class="uppercase text-xs md:text-base lg:text-lg" id="habitacion" name="habitacion">{{hab.precioHabitacion}}€</p>
                <h2
                    class="py-5 px-5 text-base md:text-lg lg:text-xl xl:text-3xl uppercase text-center  font-letraHeader">
                    régimen alimentición</h2>

                <div class="flex flex-col justify-between md:items-start" id="regimenes">
                    <p class="uppercase text-xs md:text-base lg:text-lg"><br><input type="radio" name="regimen" onclick="seleccion(this.value)" value="{{hab.desayuno}}">
                        alojamiento y desayuno:{{hab.desayuno}}€</p>
                    <p class="uppercase text-xs md:text-base lg:text-lg"><br><input type="radio" name="regimen" onclick="seleccion(this.value)" value="{{hab.precioAlmuerzo}}"> media
                        pensión: {{hab.precioAlmuerzo}}€</p>
                    <p class="uppercase text-xs md:text-base lg:text-lg"><br><input type="radio" name="regimen" onclick="seleccion(this.value)" value="{{hab.precioCena}}"> pensión
                        completa: {{hab.precioCena}}€</p>
                    
                   
                </div>
            </div>
            
            <script>

                function seleccion() {
                    

                    //document.getElementById("result").innerHTML = document.getElementById("habitacion");
                   
                }
            </script>
        </div>
        {% endfor %}
        <div class="flex items-center justify-center">
            <a href="/datospersonalesReserva">
                <button class="text-white p-5 bg-blue-400 uppercase m-6 rounded-xl">siguiente</button> </a>
        </div>
        <br>
    </div>
    {% include "partials/footer.njk" %}
    {% endblock %}