<section class="p-8 overflow-hidden text-center bg-yellow-50"
    >
    <h5 class=" sm:text-lg md:text-2xl pb-5 uppercase">newsletter </h5>
    <form action="" class="relative">
        <div class="inline-flex ">

            <input type="text" class="border-2 border-blue-400 sm:px-12 sm:py-4 md:px-16 md:py-5"
                placeholder="INTRODUZCA EMAIL" id="validarCampo" required>
            <button class="bg-blue-400  sm:px-8 sm:py-4 md:px-14 md:py-5 uppercase leading-relaxed "
                id="boton">enviar</button>

        </div>
    </form>
    
</section>