<header class="  h-45 relative" >

    <div class="container ">
        <div class="flex m-0 justify-between  sticky">
            <div alt="logoHotel" class="object-left w-1/5">
                <a href="../">
                    <img src="/images/hoteldelsur.png"  data-aos="fade-right" data-aos-duration="4000">
                </a>
            </div>


            <div class="hidden md:flex md:items-center  text-white  md:space-x-5 lg:space-x-12 ">

                <!--anadirr las columnas para q aparezcan md 2 lg 3 ,,,,,-->
                <a href="../" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500"  data-aos="fade-right" data-aos-duration="4000">hotel</a>
                <a href="/habitaciones"
                    class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500" data-aos="fade-right" data-aos-duration="3500">habitaciones</a>
                <a href="/restaurantes"
                    class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500" data-aos="fade-right" data-aos-duration="3000">restaurantes</a>
                <a href="/servicios" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500" data-aos="fade-right" data-aos-duration="2500">servicios</a>
                <a href="/galeria" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500" data-aos="fade-right" data-aos-duration="2000">galeria</a>
                <a href="/entorno" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500" data-aos="fade-right" data-aos-duration="1500">entorno</a>
                <a href="/contacto" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader hover:text-blue-500" data-aos="fade-right" data-aos-duration="1000">contacto</a>
                


            </div>


            <div class="flex none sm:space-x-4 sm:float-left md:hidden text-white">
                <a id="menuMobile"
                    class="hover:text-brownbutton flex mx-auto justify-center items-center">
                    
                    <div class="uppercase menu" id="menu">
                        <p>menú</p>
                        <p>salir</p>
                    </div>
                    
                    <svg class="w-6 h-6" id="svgPrimero" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                    <svg class="w-6 h-6 hidden" id="svgSegundo" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                
                </a>
            </div>



        </div>

    </div>
    <div class="md:hidden absolute z-10 left-0  w-full">
        <div id="menu-box-mobile" class="hidden"
            style="top:165px; min-height: 100%;min-width: 100%;">
            <!--invisible aqui-->
            <div class="container  bg-white w-screen h-full" style=" min-height: 100%;min-width: 100%;">
                <ul class="flex flex-col items-center justify-between p-10  h-screen">


                    <!--anadirr las columnas para q aparezcan md 2 lg 3 ,,,,,-->
                    <a href="../" class="uppercase text-sm xl:text-lg font-letraHeader hover:to-blue-700 m-1"
                        data-aos="fade-up" data-aos-duration="1500">hotel</a>
                    <p class="pt-0.5 w-full bg-black " data-aos="fade-up" data-aos-duration="1500"></p>
                    <a href="/habitaciones" class="uppercase text-sm md:text-lg font-letraHeader  m-1"
                        data-aos="fade-up" data-aos-duration="2000">habitaciones</a>
                    <p class="pt-0.5 w-full bg-black" data-aos="fade-up" data-aos-duration="2000"></p>
                    <a href="/restaurantes" class="uppercase text-sm md:text-lg font-letraHeader  m-1"
                        data-aos="fade-up" data-aos-duration="2500">restaurantes</a>
                    <p class="pt-0.5 w-full bg-black" data-aos="fade-up" data-aos-duration="2500"></p>
                    <a href="/servicios" class=" uppercase text-sm md:text-lg font-letraHeader m-1"
                        data-aos="fade-up" data-aos-duration="3000">servicios</a>
                    <p class="pt-0.5 w-full bg-black" data-aos="fade-up" data-aos-duration="3000"></p>
                    <a href="/galeria" class=" uppercase text-sm md:text-lg font-letraHeader m-1" data-aos="fade-up"
                        data-aos-duration="3500">galeria</a>
                    <p class="pt-0.5 w-full bg-black" ata-aos="fade-up" data-aos-duration="3500"></p>
                    <a href="/entorno" class=" uppercase text-sm md:text-lg font-letraHeader m-1" data-aos="fade-up"
                        data-aos-duration="4000">entorno</a>
                    <p class="pt-0.5 w-full bg-black" data-aos="fade-up" data-aos-duration="4000"></p> 
                    <a href="/contacto" class=" uppercase text-sm md:text-lg font-letraHeader m-1" data-aos="fade-up"
                        data-aos-duration="4500">contacto</a>
                    <a href="/reserva" class=" uppercase md:text-sm font-letraHeader bg-blue-300 p-5 rounded-xl text-white">reservar ahora</a>



                </ul>

            </div>

        </div>
    </div>
</header>
