<header class="flex items-center justify-center  h-45 overflow-hidden" style="background: url(/images/playa.jpeg) no-repeat center center; background-size: cover;" >
    
    <div class="flex md:space-x-4 lg:space-x-8 " style="width: 80%;">
        <div alt="logoHotel" class="flex items-center justify-center">
            <a href="#">
            <img src="/images/hoteldelsur.png" class="object-scale-down " style="background-size:cover;"></a>
        </div>



        <div class="hidden md:flex md:items-center md:justify-center  md:space-x-8 lg:space-x-16" style="width: 100%;">

            <!--anadirr las columnas para q aparezcan md 2 lg 3 ,,,,,-->
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">hotel</a>
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">habitaciones</a>
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">resturantes</a>
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">servicios</a>
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">galeria</a>
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">entorno</a>
            <a href="#" class=" uppercase md:text-xs lg:text-sm xl:text-lg font-letraHeader">contacto</a>


        </div>
        <div class="lg:hidden">
            <nav class="bg-green-800 mt-16">
                <div class=" sm:flex sm:space-x-2 ">
                    <a href="#" class="bg-indigo-600 py-2 px-5 uppercase">menú</a>

                </div>
            </nav>
        </div>
    </div>

</header>