<div class=" w-screen h-[80px] md:h-[150px] lg:h-[200px] relative bg-blue-400">
    <header class="  h-45 relative">
        <div class="container m-auto">
            <div class="flex items-center ">
                <div alt="logoHotel" class="object-left w-1/5 ">
                    <a href="../">
                        <img src="/images/hoteldelsur.png" data-aos="fade-right" data-aos-duration="4000">
                    </a>

                </div>
                <div class="w-full flex items-center justify-center ">
                    <h2 class="uppercase font-letraHeader text-lg md:text-3xl lg:text-5xl text-white "
                        data-aos="fade-left" data-aos-duration="4000">
                        reservas
                    </h2>
                </div>
                <a href="../">
                    <svg class="w-8 h-8 bottom-0" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>

                    </svg>
                    <p class="text-white">Menú</p>
                </a>
            </div>
        </div>
    </header>
</div>